footer.footer
    .footer__logo
        img(src='/img/fake-logo.png' alt='Natours logo')
    ul.footer__nav
        li: a(href='https://github.com/Fest5/explorify') Documentación
        li: a(href='#') Donwload app
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='mailto:felipe5stuart@gmail.com') Contact
    p.footer__copyright Created by <a href="https://www.linkedin.com/in/felipe-stuart/">Felipe Stuart</a> 2021. This is isn't a real company! It's just a personal project